body {
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    margin-bottom: 2rem;
    padding: 3rem;
    border: 1px solid #aaa;
    background: #ddd;
    color: #777;
    text-align: center;
}

.field-items {
    border: 1px solid #e4e4e4;
    background: #f7f7f7;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    overflow: hidden;
}

.field-items figure {
    float: left;
    margin: 0 3rem 2rem 0;
    background: #f3f3f3;
    border: 1px solid #ddd;
}

.field-items figure:after {
    content: "Figure";
    display: block;
    margin-top: 5.5rem;
    margin-bottom: 5.5rem;
    text-align: center;
    color: #888;
}

.some-block {
    width: 100%;
    clear: both;
    margin-bottom: 2rem;
    padding: 2rem;
    border: 1px solid #5faa43;
    background: #dafeac;
    color: #2a542a;
    text-align: center;
}